<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <div>Registro de pqr</div>
        <div>
            <div>Datos peticionarios</div>
            <div>
                <ul>
                    <li>Nombre:</li>
                    <li>Correo:</li>
                    <li>Tel&eacute;fono</li>
                    <li>Tipo de Documento</li>
                    <li>N&uacute;mero de Documento</li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <div>Datos del formulario</div>
            <div>
                <ul>
                    <li>Fecha</li>
                    <li>N&uacute;mero de radicado</li>
                    <li>Contenido</li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <div>Texto de seguimiento: Para cualquier observación, seguimiento o tramite sobre su PQR utilice el número de radicado 321654987</div>
        </div>
    </div>
</body>

</html>